.popup__input-title {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  margin-bottom: 30px;
  padding-bottom: 13px;
  width: 354px;
}

@media screen and (max-width: 415px) {
  .popup__input-title {
    width: 238px;
  }
}
