.popup__container {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 330px;
  justify-content: space-evenly;
  width: 430px;
}

@media screen and (max-width: 758px) {
  .popup__container {
    left: 0;
  }
}

@media screen and (max-width: 563px) {
  .popup__container {
    height: 322px;
    left: 0;
    right: 19px;
    width: 390px;
  }
}

@media screen and (max-width: 415px) {
  .popup__container {
    height: 322px;
    width: 282px;
  }
}
