.popup__form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 54px 0 37px;
  max-height: 213px;
}

@media screen and (max-width: 415px) {
  .popup__form {
    margin: 75px 0 25px;
  }
}
