.popup__button-submit {
  background-color: #000;
  border: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  height: 50px;
  line-height: 21.78px;
  margin: 37px 36px 38px;
  opacity: 1;
  padding: 0;
  transition: opacity .4s ease-out;
  width: 358px;
}

.popup__button-submit:hover {
  cursor: pointer;
  opacity: .8;
}
